input {
    display: none;
}
input + label {
    width: 32px;
    height: 20px;
    background: rgb(195, 195, 196);
    display: block;
    position: relative;
    border-radius: 20px;
    padding: 2px;
    transition: 200ms;
    cursor: pointer;
}
input + label:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgb(253, 253, 253);
    display: block;
    border-radius: 50%;
    right: unset;
    left: 2px;
    top: 2px;
    transition: 200ms;
}
input:checked + label {
    
    background: rgb(8, 24, 248);
}
input:checked + label:before {
    
    left: calc(100% - 22px);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.507);
}