* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {

   /* EM TELAS MAIORES background-attachment: fixed; 
    background-size: cover;  */ 
}



h1 {
    padding-top: 150px;
    margin-right: 130px;
}

div {
    
    height: 100vh;
    text-align: center;
    font-size: small;
    
}

div> a {
    text-decoration: none;
}

input {
    padding-left: 8px;
    height: 40px;
    width: 250px;
    margin: 5px;
    border-radius: 20px;
    border-style: double;
    border-color: rgb(177, 177, 177);
    border-width: 1px;
}

input.ibt {
    background: linear-gradient(to right, #6101a1 1%, #6101a194,#6101a1);
    color: aliceblue;
    border-style: none;
    height: 42px;
    width: 253.3px;
    margin-top: 20px;
    margin-bottom: 15px;
    
}
input.ibt:hover {
    background: linear-gradient(to right, #580292be 1%, #6101a160,#6202a1b9);
}
