
* {
    margin: 0px;
    padding: 0px;
}
header {
    display: flex;
    height: 38px;
    width: 100%;
    

}

header >span#bmenu {
   position: relative;
   top: 6px;
   left: 3px;  
}

header >span#bmenu >div {
   width: 22px;
   height: 1px;
   background-color: black;
   margin: 6px;
}

img#principal {
    width: 100%;
    margin-top: 0px;
}

hr {
    border-color: rgb(219, 219, 219);
    width: 88%;
    margin: auto;
}


menu#imenu {
    display: block;
    background-color: rgb(253, 253, 253);
    width: 300px;
    height: 100vh;
    position: absolute;
    top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    transform: translateX(-100%);
    transition: transform .7s;
}

menu#imenu >li {
    list-style: none;
    margin: 20px;
}

menu> li#x {
    text-align: right;
    margin: 25px;
    font-size: 1.3em;
}

menu >li >a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* botao do login dentro do menu */

menu#imenu> li> a> img {
    width: 35px;   
}

main {
   padding: 10px;
   text-align: justify;
}

footer { 
    padding: 3px;
    text-align: center;
    font-size: small;
}