

html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}

header {
    height: 35px;
    padding: 10px;
    background-color:00427c8e ;
    color: #000000;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    
}
header > a {  
    text-decoration: none;
    margin-top: 5px;
}

section#p1 > hr {
    width: 94vw;
    margin-top: 0px;
}

h1 {
    margin: auto;
    padding-right: 30px;
}

menu {
    background-color: #ffffff;
    max-width: 400px;
    height: 98.7vh;
    margin-bottom: 0px;
    margin-top: 0px; 
    text-align: right;
    padding: 5px;
}

menu >li {
    text-align: left;
    text-decoration: none;
    list-style: none;
    padding: 13px;
    margin: 10px;
}

hr {
    width: 87%;
    border-color: #ffffff;  
}

menu> a > img {
     margin-bottom: 35px;
     width: 22px;
     padding: 5px;
}

p {
    margin: 12px;
    text-align: justify;
    font-size: 1.1em;
}
footer {
    text-align: center;
    font-size: small;
}




