
* {
    margin: 0px;
    padding: 0px;
  
}

body {
    background-color: rgb(241, 241, 241);
    position: absolute;
}

header {
    background-color: #1f1f1f;
}

header >span#aqui {
    font-size: 1.7em;
    color: aliceblue;
    margin-left: 5px;  
}

header >img {
    width: 100%;
}

hr {
    border-color: rgb(219, 219, 219);
    width: 88%;
    margin: auto;
}

menu {
    display: none;
    background-color: rgb(255, 255, 255);
    width: 300px;
    height: 100vh;
    position: absolute;
    top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
   padding: 10px;
   text-align: justify;
}

menu >li {
    list-style: none;
    margin: 18px;
}

menu> li#x {
    text-align: right;
    margin: 25px;
}

menu >li >a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    color: aliceblue;
    padding: 3px;
    background-color: #1f1f1f;
    text-align: center;
    font-size: small;
}