body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#F2F2F2;

    }
    header {
        background-color: #591C21;
        color: #F2F2F2;
        margin: 20px;
        padding: 30px;
        box-shadow: 10px 10px 10px rgba(68, 21, 21, 0.363);
    }
nav {
    background-color: #8C1F28;
    padding: 5px;
    }
    a {
        color: #F2F2F2;
        margin: 10px;
    }
    article {
        background-color: #591C21;
        color: #F2F2F2;
        margin: 20px;
        padding: 30px;
        box-shadow: 10px 10px 10px rgba(68, 21, 21, 0.363);
    }
    aside {
        background-color:#8C1F28 ;
        
    }
    footer {
        text-align: right;
        margin: 20px;
    }

