html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    
}

header {
    
    padding: 30px;
    text-align: justify;
}

main {
    flex: 1 0 auto;
}

footer {
flex-shrink: 0;
padding: 30px;
background-color: black;
}