
* {
    margin: 0px;
    padding: 0px;
}

header {
}

header >span#bmenu {
   padding: 5px;
   position: absolute;
   top: 10px;
   right: 10px;  
   border-style: ridge;
   border-width: 1px;
   border-color: aliceblue;
   
}

header >span#bmenu >div {
   
   width: 17px;
   height: 1px;
   background-color: rgb(250, 248, 248);
   margin-top: 5px;
   margin-left: 4px;
   margin-right: 4px;
   margin-bottom: 5px;
   
}

img#principal {
    width: 100%;
    margin-top: 0px;
}

hr {
    border-color: rgb(219, 219, 219);
    width: 88%;
    margin: auto;
}

menu#imenu {
    display: block;
    background-color: rgb(253, 253, 253);
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    font-family: Arial, Helvetica, sans-serif;
    transform: translateX(100%);
    transition: transform .7s;
}

menu#imenu >li {
    list-style: none;
    margin: 20px;
}

menu> li#x {
    text-align: right;
    margin: 25px;
    font-size: 1.3em;
}

menu >li >a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

main {
   padding: 10px;
   text-align: justify;
}

footer { 
    padding: 3px;
    text-align: center;
    font-size: small;
}