@media screen and (min-width: 768px) {
  
  
  span#burguer {
    display: none;
  }  

  menu#itens {
    position: absolute;
    top: 26px;
    display: block;
  } 
  menu ul li {
    display: inline-block;
   
  } 
  menu ul li a {
    background-color:#002333 ;
    height: 10px;
    padding: 10px;
    font-size: 1em;
  }
 
  main {
    font-size: 1em;
    
  }
  menu ul li a:hover {
    background-color: #024d7081;
    
}
}